//the font that we used in de pages...
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
$txt-header: #0E68CF;
$txt-color: rgb(11, 11, 11);
$font_txt: 'Space Grotesk', sans-serif;
//general editions...
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,
body{
    width: 100%;
    height: auto;
}

//here we start with the header...
header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    .cont_all{
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            width: 180px;
            height: auto;
            font-family: $font_txt;
            letter-spacing: 0.1em;
            font-weight: 700;
            font-size: 1.3em;
            //the color has to be worked into the rest file...
            h2{
                background: $txt-header;
                background: linear-gradient(to right, #0E68CF 0%, #23538A 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                cursor: pointer;
            }
        }
        nav{
            width: 600px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .options{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: row;
                position: relative;
                color: $txt-header;
                //the color has to be worked into the 
                //rest file...
                a{
                    text-decoration: none;
                    color: $txt-header;
                    //the color has to be worked into the 
                    //rest file...
                }
                li{
                    list-style: none;
                    font-family: $font_txt;
                    font-weight: 700;
                    letter-spacing: 0.05em;
                    font-size: 1.1em;
                    cursor: pointer;
                    padding: 0.5em 0.7em;
                    border-radius: 0.3em;
                }
                //move to rest file... to make the dark mode...
                li:hover{
                    border: 0px solid $txt-header;
                    background-color: #0e68cf3c;
                    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.103);
                }
                //I have to put the li:hover into the rest file
                //'cause it is gona has just the color and the
                //box-shadow...
                .mode_options{
                    position: absolute;
                    top: 50px;
                    right: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100px;
                    height: 80px;
                    //I have to move this to the rest file
                    //to make well the dark mode...
                    background-color: white;
                    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.235);
                    li{
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                    }
                }
            }
        }
    }
}

//here we have the component...
/*Aun falta terminar el boton, hacer el responsive y empezar a darle
funcionalidad a todo con JS...
TAMBIEN EL BTN DARK*/
.main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    .cont_img{
        width: 35%;
        height: 697px;
        background-image: url('./images/bg-main-desktop.png');
        background-position: center;
        background-size: cover;
        background-clip: content-box;
    }
    .white{
        width: 75%;
        height: 697px;
    }
    .cont_all{
        position: absolute;
        width: clamp(310px, 90%, 1130px);
        height: auto;
        display: flex; 
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        .cars_cont{
            width: 500px;
            height: 515px;
            display: flex;
            align-items: center;
            flex-direction: column;
            .front_card_cont{
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                .front_card{
                    border-radius: 0.5em;
                    width: 420px;
                    height: 245px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;
                    background-image: url('./images/bg-card-front.png');
                    background-size: cover;
                    .circles_cont{
                        width: 90%;
                        height: auto;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-direction: row;
                        .big_circle{
                            width: 50px;
                            height: 50px;
                            border-radius: 50px;
                            background-color: white;
                            margin-right: 0.5em;
                        }
                        .small_circle{
                            width: 25px;
                            height: 25px;
                            border-radius: 50px;
                            border: 1px solid white;
                        }
                    }
                    .numbersNname{
                        width: 90%;
                        height: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        .numbers{
                            width: 100%;
                            h2{
                                color: white;
                                font-family: $font_txt;
                                font-size: 1.7em;
                                letter-spacing: 0.1em;
                                text-align: center;
                            }
                        }
                        .name{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 0.5em;
                            margin-top: 1em;
                            h4{
                                font-family: $font_txt;
                                color: white;
                                font-size: 1em;
                                text-transform: uppercase;
                                letter-spacing: 0.05em;
                            }
                        }
                    }
                }
            }
            .back_card_cont{
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                .back_card{
                    border-radius: 0.5em;
                    width: 420px;
                    height: 245px;
                    background-image: url('./images/bg-card-back.png');
                    background-size: cover;
                    position: relative;
                    .cont_cuv{
                        position: absolute;
                        width: auto;
                        top: 110px;
                        right: 25px;
                        p{
                            font-family: $font_txt;
                            font-weight: 700;
                            color: white;
                            font-size: 1.1em;
                            letter-spacing: 0.1em;
                        }
                    }
                }
            }
        }
        .inputs_cont{
            width: 50%;
            height: 515px;
            display: flex;
            justify-content: center;
            align-items: center;
            form{
                width: 420px;
                height: 85%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                label{
                    font-family: $font_txt;
                    //el color se cambiara en el reset file...
                    color: $txt-color;
                    font-weight: 500;
                    font-size: 0.9em;
                    letter-spacing: 0.06em;
                    text-transform: uppercase;
                    margin-bottom: 0.3em;
                }
                .cont_input_name,
                .cont_input_number{
                    width: 95%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
                    input{
                        width: 100%;
                        border-radius: 0.5em;
                        border: 0.5px solid black;
                        padding: 0.85em 0.8em;
                        font-family: $font_txt;
                        font-size: 1.1em;
                        font-weight: 700;
                        letter-spacing: 0.1em;
                        //el color se cambiara en el reset... 
                        color: $txt-color;
                    }
                }
                .cont_input_date{
                    width: 95%;
                    height: auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;
                    .date{
                        width: 50%;
                        display: flex;
                        justify-content: flex-start;
                        flex-direction: row;
                        flex-wrap: wrap;
                        input{
                            width: 45%;
                            border-radius: 0.5em;
                            border: 0.5px solid black;
                            padding: 0.85em 0.8em;
                            font-family: $font_txt;
                            font-size: 1.1em;
                            font-weight: 700;
                            letter-spacing: 0.1em;
                            //el color se cambiara en el reset... 
                            color: $txt-color;
                        }
                        input:first-of-type{
                            margin-right: 0.6em;
                        }
                    }
                    .cvc{
                        width: 47%;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex-direction: column;
                        input{
                            width: 100%;
                            border-radius: 0.5em;
                            border: 0.5px solid black;
                            padding: 0.85em 0.8em;
                            font-family: $font_txt;
                            font-size: 1.1em;
                            font-weight: 700;
                            letter-spacing: 0.1em;
                            //el color se cambiara en el reset... 
                            color: $txt-color;
                        }
                    }
                }
            }
        }
    }
}