@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: auto;
}

header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}
header .cont_all {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .cont_all .logo {
  width: 180px;
  height: auto;
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-size: 1.3em;
}
header .cont_all .logo h2 {
  background: #0E68CF;
  background: linear-gradient(to right, #0E68CF 0%, #23538A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
header .cont_all nav {
  width: 600px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .cont_all nav .options {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  position: relative;
  color: #0E68CF;
}
header .cont_all nav .options a {
  text-decoration: none;
  color: #0E68CF;
}
header .cont_all nav .options li {
  list-style: none;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 1.1em;
  cursor: pointer;
  padding: 0.5em 0.7em;
  border-radius: 0.3em;
}
header .cont_all nav .options li:hover {
  border: 0px solid #0E68CF;
  background-color: rgba(14, 104, 207, 0.2352941176);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.103);
}
header .cont_all nav .options .mode_options {
  position: absolute;
  top: 50px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 80px;
  background-color: white;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.235);
}
header .cont_all nav .options .mode_options li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/*Aun falta terminar el boton, hacer el responsive y empezar a darle
funcionalidad a todo con JS...
TAMBIEN EL BTN DARK*/
.main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.main .cont_img {
  width: 35%;
  height: 697px;
  background-image: url("./images/bg-main-desktop.png");
  background-position: center;
  background-size: cover;
  background-clip: content-box;
}
.main .white {
  width: 75%;
  height: 697px;
}
.main .cont_all {
  position: absolute;
  width: clamp(310px, 90%, 1130px);
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.main .cont_all .cars_cont {
  width: 500px;
  height: 515px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main .cont_all .cars_cont .front_card_cont {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.main .cont_all .cars_cont .front_card_cont .front_card {
  border-radius: 0.5em;
  width: 420px;
  height: 245px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-image: url("./images/bg-card-front.png");
  background-size: cover;
}
.main .cont_all .cars_cont .front_card_cont .front_card .circles_cont {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.main .cont_all .cars_cont .front_card_cont .front_card .circles_cont .big_circle {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
  margin-right: 0.5em;
}
.main .cont_all .cars_cont .front_card_cont .front_card .circles_cont .small_circle {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  border: 1px solid white;
}
.main .cont_all .cars_cont .front_card_cont .front_card .numbersNname {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .cont_all .cars_cont .front_card_cont .front_card .numbersNname .numbers {
  width: 100%;
}
.main .cont_all .cars_cont .front_card_cont .front_card .numbersNname .numbers h2 {
  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.7em;
  letter-spacing: 0.1em;
  text-align: left;
}
.main .cont_all .cars_cont .front_card_cont .front_card .numbersNname .name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  margin-top: 1em;
}
.main .cont_all .cars_cont .front_card_cont .front_card .numbersNname .name h4 {
  font-family: "Space Grotesk", sans-serif;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.main .cont_all .cars_cont .back_card_cont {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.main .cont_all .cars_cont .back_card_cont .back_card {
  border-radius: 0.5em;
  width: 420px;
  height: 245px;
  background-image: url("./images/bg-card-back.png");
  background-size: cover;
  position: relative;
}
.main .cont_all .cars_cont .back_card_cont .back_card .cont_cuv {
  position: absolute;
  width: auto;
  top: 110px;
  right: 25px;
}
.main .cont_all .cars_cont .back_card_cont .back_card .cont_cuv p {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 1.1em;
  letter-spacing: 0.1em;
}
.main .cont_all .inputs_cont {
  width: 50%;
  height: 515px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .cont_all .inputs_cont form {
  width: 420px;
  height: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.main .cont_all .inputs_cont form label {
  font-family: "Space Grotesk", sans-serif;
  color: rgb(11, 11, 11);
  font-weight: 500;
  font-size: 0.9em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 0.3em;
}
.main .cont_all .inputs_cont form .cont_input_name,
.main .cont_all .inputs_cont form .cont_input_number {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.main .cont_all .inputs_cont form .cont_input_name input,
.main .cont_all .inputs_cont form .cont_input_number input {
  width: 100%;
  border-radius: 0.5em;
  border: 0.5px solid black;
  padding: 0.85em 0.8em;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: rgb(11, 11, 11);
}
.main .cont_all .inputs_cont form .cont_input_date {
  width: 95%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.main .cont_all .inputs_cont form .cont_input_date .date {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.main .cont_all .inputs_cont form .cont_input_date .date input {
  width: 45%;
  border-radius: 0.5em;
  border: 0.5px solid black;
  padding: 0.85em 0.8em;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: rgb(11, 11, 11);
}
.main .cont_all .inputs_cont form .cont_input_date .date input:first-of-type {
  margin-right: 0.6em;
}
.main .cont_all .inputs_cont form .cont_input_date .cvc {
  width: 47%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.main .cont_all .inputs_cont form .cont_input_date .cvc input {
  width: 100%;
  border-radius: 0.5em;
  border: 0.5px solid black;
  padding: 0.85em 0.8em;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: rgb(11, 11, 11);
}
.main .cont_all .inputs_cont form .send {
  border: none;
  width: 95%;
  border-radius: 0.5em;
  padding: 0.85em 0.8em;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.15em;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: white;
  background-color: hsl(278, 68%, 11%);
  cursor: pointer;
}
.main .cont_all .inputs_cont form .send:hover {
  background-color: hsl(279, 6%, 55%);
  transition: all 500ms ease-out;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(11, 11, 11);
  color: white;
}
footer .cont_cards_nav {
  width: 90%;
  height: auto;
  padding: 2em 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
footer .cont_cards_nav .contenedor {
  width: 300px;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: "Space Grotesk", sans-serif;
}
footer .cont_cards_nav .contenedor .title {
  border-bottom: 2px solid white;
  width: 100%;
  height: auto;
  padding: 1em 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer .cont_cards_nav .contenedor .title h2 {
  letter-spacing: 0.05em;
  font-size: 1.2em;
}
footer .cont_cards_nav .contenedor .info {
  width: 100%;
  height: auto;
  padding: 1em 0;
}
footer .cont_cards_nav .contenedor .info ul {
  width: 100%;
  height: auto;
}
footer .cont_cards_nav .contenedor .info ul li {
  list-style: none;
  padding: 0.3em 0;
}
footer .cont_cards_nav .contenedor .info ul li:hover {
  cursor: pointer;
  text-decoration: underline;
  transition: all 1s ease-in;
}
footer .cont_redes_legal_terms {
  width: 90%;
  height: auto;
  padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .cont_redes_legal_terms .redesNterms {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1em;
}
footer .cont_redes_legal_terms .redesNterms .legal {
  width: 600px;
  height: auto;
}
footer .cont_redes_legal_terms .redesNterms .legal p {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 0.06em;
  line-height: 1.4;
}
footer .cont_redes_legal_terms .redesNterms .legal p span {
  font-size: 1.6em;
  background: linear-gradient(to right, #0E68CF 0%, #23538A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.157);
}
footer .cont_redes_legal_terms .redesNterms .redes {
  width: 35%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .cont_redes_legal_terms .redesNterms .redes ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
footer .cont_redes_legal_terms .redesNterms .redes ul a {
  text-transform: none;
  color: white;
}
footer .cont_redes_legal_terms .redesNterms .redes ul li {
  list-style: none;
  font-size: 1.3em;
}
footer .cont_redes_legal_terms .redesNterms .redes ul i:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.775);
  transition: all 200ms ease-in-out;
}
footer .cont_redes_legal_terms .termsNmore {
  width: 100%;
  height: auto;
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}
footer .cont_redes_legal_terms .termsNmore .address {
  width: 620px;
  height: auto;
}
footer .cont_redes_legal_terms .termsNmore .address p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1em;
  letter-spacing: 0.05em;
  line-height: 1.5em;
}
footer .cont_redes_legal_terms .termsNmore .other_things {
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .cont_redes_legal_terms .termsNmore .other_things ul {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .cont_redes_legal_terms .termsNmore .other_things ul li {
  list-style: none;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
}
footer .cont_redes_legal_terms .termsNmore .other_things ul li:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.729);
}

/*# sourceMappingURL=App.css.map */
