@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
/*here we have the variables of colors that will help us
to switch dark to ligth and ligth to dark...*/
#Ligth {
  /*Aun falta terminar el boton, hacer el responsive y empezar a darle
  funcionalidad a todo con JS...
  TAMBIEN EL BTN DARK*/
}
#Ligth header {
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}
#Ligth header .cont_all .logo h2 {
  background: #0E68CF;
  background: linear-gradient(to right, #0E68CF 0%, #23538A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
#Ligth header .cont_all nav .options {
  color: #0E68CF;
}
#Ligth header .cont_all nav .options a {
  color: #0E68CF;
}
#Ligth header .cont_all nav .options li:hover {
  border: 0px solid #0E68CF;
  background-color: rgba(14, 104, 207, 0.2352941176);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.103);
}
#Ligth header .cont_all nav .options .mode_options {
  background-color: white;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.235);
}
#Ligth .options_side {
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}
#Ligth .options_side .closeMenu {
  color: rgb(11, 11, 11);
  text-shadow: 0px 1px 5px rgba(91, 178, 240, 0.426);
}
#Ligth .options_side a {
  color: rgb(11, 11, 11);
}
#Ligth .options_side a li:hover {
  border: 0px solid #0E68CF;
  background-color: rgba(14, 104, 207, 0.2352941176);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.103);
}
#Ligth .options_side li {
  color: rgb(11, 11, 11);
}
#Ligth .options_side li:hover {
  border: 0px solid #0E68CF;
  background-color: rgba(14, 104, 207, 0.2352941176);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.103);
}
#Ligth .options_side .mode_options {
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}
#Ligth .options_side .mode_options li {
  color: rgb(11, 11, 11);
}
#Ligth .main .cont_all .cars_cont .front_card_cont .front_card .circles_cont .big_circle {
  background-color: white;
}
#Ligth .main .cont_all .cars_cont .front_card_cont .front_card .circles_cont .small_circle {
  border: 1px solid white;
}
#Ligth .main .cont_all .cars_cont .front_card_cont .front_card .numbersNname .numbers {
  width: 100%;
}
#Ligth .main .cont_all .cars_cont .front_card_cont .front_card .numbersNname .numbers h2 {
  color: white;
}
#Ligth .main .cont_all .cars_cont .front_card_cont .front_card .numbersNname .name h4 {
  color: white;
}
#Ligth .main .cont_all .cars_cont .back_card_cont .back_card .cont_cuv p {
  color: white;
}
#Ligth .main .cont_all .inputs_cont form label {
  color: rgb(11, 11, 11);
}
#Ligth .main .cont_all .inputs_cont form .cont_input_name input,
#Ligth .main .cont_all .inputs_cont form .cont_input_number input {
  border: 0.5px solid black;
  color: rgb(11, 11, 11);
}
#Ligth .main .cont_all .inputs_cont form .cont_input_name .error,
#Ligth .main .cont_all .inputs_cont form .cont_input_number .error {
  background-color: red;
}
#Ligth .main .cont_all .inputs_cont form .cont_input_date .date input {
  border: 0.5px solid black;
  color: rgb(11, 11, 11);
}
#Ligth .main .cont_all .inputs_cont form .cont_input_date .date .error {
  background-color: red;
}
#Ligth .main .cont_all .inputs_cont form .cont_input_date .cvc input {
  border: 0.5px solid black;
  color: rgb(11, 11, 11);
}
#Ligth .main .cont_all .inputs_cont form .cont_input_date .cvc .error {
  background-color: red;
}
#Ligth .main .cont_all .inputs_cont form .send {
  color: white;
  background-color: hsl(278, 68%, 11%);
}
#Ligth .main .cont_all .inputs_cont form .send:hover {
  background-color: hsl(279, 6%, 55%);
}
#Ligth .main .cont_all .father_cont_thanks .cont_thanks .cont_txt_thanks p {
  color: rgba(166, 166, 166, 0.912);
}
#Ligth .main .cont_all .father_cont_thanks .cont_thanks button {
  color: white;
  background-color: hsl(278, 68%, 11%);
  cursor: pointer;
}
#Ligth .main .cont_all .father_cont_thanks .cont_thanks button:hover {
  background-color: hsl(279, 6%, 55%);
  transition: all 500ms ease-out;
}
#Ligth footer {
  background: rgb(11, 11, 11);
  color: white;
}
#Ligth footer .cont_cards_nav .contenedor .title {
  border-bottom: 2px solid white;
}
#Ligth footer .cont_redes_legal_terms .redesNterms .legal p span {
  font-size: 1.6em;
  background: linear-gradient(to right, #0E68CF 0%, #23538A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.157);
}
#Ligth footer .cont_redes_legal_terms .redesNterms .redes ul a {
  color: white;
}
#Ligth footer .cont_redes_legal_terms .redesNterms .redes ul i:hover {
  color: rgba(255, 255, 255, 0.775);
}
#Ligth footer .cont_redes_legal_terms .termsNmore .other_things ul li:hover {
  color: rgba(255, 255, 255, 0.729);
}

#Dark {
  /*Aun falta terminar el boton, hacer el responsive y empezar a darle
  funcionalidad a todo con JS...
  TAMBIEN EL BTN DARK*/
}
#Dark header {
  background-color: rgba(11, 11, 11, 0.954);
  box-shadow: 0px 1px 5px rgba(250, 250, 250, 0.26);
}
#Dark header .cont_all .logo h2 {
  background: #3884dc;
  background: linear-gradient(to right, #0E68CF 0%, #23538A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
#Dark header .cont_all nav .options {
  color: #3884dc;
}
#Dark header .cont_all nav .options a {
  color: #3884dc;
}
#Dark header .cont_all nav .options li:hover {
  border: 0px solid #3884dc;
  background-color: rgba(14, 104, 207, 0.2352941176);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.103);
}
#Dark header .cont_all nav .options .mode_options {
  background-color: rgb(27, 27, 27);
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.235);
}
#Dark header .cont_all .hamburguer_menu .material-icons {
  color: white;
}
#Dark header .cont_all .hamburguer_menu .material-icons:hover {
  color: rgba(255, 255, 255, 0.734);
}
#Dark .options_side {
  background-color: rgba(11, 11, 11, 0.954);
  box-shadow: 0px 1px 5px rgba(250, 250, 250, 0.26);
}
#Dark .options_side .closeMenu {
  color: white;
  text-shadow: 0px 1px 5px rgba(240, 235, 91, 0.426);
}
#Dark .options_side a {
  color: white;
}
#Dark .options_side a li:hover {
  border: 0px solid #3884dc;
  background-color: rgba(14, 104, 207, 0.2352941176);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.103);
}
#Dark .options_side li {
  color: white;
}
#Dark .options_side li:hover {
  border: 0px solid #3884dc;
  background-color: rgba(14, 104, 207, 0.2352941176);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.103);
}
#Dark .options_side .mode_options {
  background-color: rgba(11, 11, 11, 0.954);
  box-shadow: 0px 1px 5px rgba(250, 250, 250, 0.26);
}
#Dark .options_side .mode_options li {
  color: white;
}
#Dark .main {
  background-color: rgb(27, 27, 27);
}
#Dark .main .cont_all .cars_cont .front_card_cont .front_card .circles_cont .big_circle {
  background-color: white;
}
#Dark .main .cont_all .cars_cont .front_card_cont .front_card .circles_cont .small_circle {
  border: 1px solid white;
}
#Dark .main .cont_all .cars_cont .front_card_cont .front_card .numbersNname .numbers {
  width: 100%;
}
#Dark .main .cont_all .cars_cont .front_card_cont .front_card .numbersNname .numbers h2 {
  color: white;
}
#Dark .main .cont_all .cars_cont .front_card_cont .front_card .numbersNname .name h4 {
  color: white;
}
#Dark .main .cont_all .cars_cont .back_card_cont .back_card .cont_cuv p {
  color: white;
}
#Dark .main .cont_all .inputs_cont form label {
  color: white;
}
#Dark .main .cont_all .inputs_cont form .cont_input_name input,
#Dark .main .cont_all .inputs_cont form .cont_input_number input {
  border: 0.5px solid white;
  color: white;
  background-color: rgba(30, 30, 30, 0.615);
}
#Dark .main .cont_all .inputs_cont form .cont_input_name .error,
#Dark .main .cont_all .inputs_cont form .cont_input_number .error {
  background-color: red;
}
#Dark .main .cont_all .inputs_cont form .cont_input_date .date input {
  border: 0.5px solid white;
  color: white;
  background-color: rgba(30, 30, 30, 0.615);
}
#Dark .main .cont_all .inputs_cont form .cont_input_date .date .error {
  background-color: red;
}
#Dark .main .cont_all .inputs_cont form .cont_input_date .cvc input {
  border: 0.5px solid white;
  color: white;
  background-color: rgba(30, 30, 30, 0.615);
}
#Dark .main .cont_all .inputs_cont form .cont_input_date .cvc .error {
  background-color: red;
}
#Dark .main .cont_all .inputs_cont form .send {
  color: white;
  background-color: hsl(278, 82%, 57%);
}
#Dark .main .cont_all .inputs_cont form .send:hover {
  background-color: hsl(279, 24%, 35%);
}
#Dark .main .cont_all .father_cont_thanks .cont_thanks .cont_txt_thanks h2 {
  color: white;
}
#Dark .main .cont_all .father_cont_thanks .cont_thanks .cont_txt_thanks p {
  color: white;
}
#Dark .main .cont_all .father_cont_thanks .cont_thanks button {
  color: white;
  background-color: hsl(278, 82%, 57%);
  cursor: pointer;
}
#Dark .main .cont_all .father_cont_thanks .cont_thanks button:hover {
  background-color: hsl(279, 24%, 35%);
  transition: all 500ms ease-out;
}
#Dark footer {
  background: rgb(11, 11, 11);
  color: white;
}
#Dark footer .cont_cards_nav .contenedor .title {
  border-bottom: 2px solid white;
}
#Dark footer .cont_redes_legal_terms .redesNterms .legal p span {
  font-size: 1.6em;
  background: linear-gradient(to right, #0E68CF 0%, #23538A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.157);
}
#Dark footer .cont_redes_legal_terms .redesNterms .redes ul a {
  color: white;
}
#Dark footer .cont_redes_legal_terms .redesNterms .redes ul i:hover {
  color: rgba(255, 255, 255, 0.775);
}
#Dark footer .cont_redes_legal_terms .termsNmore .other_things ul li:hover {
  color: rgba(255, 255, 255, 0.729);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: auto;
  position: relative;
}

header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .cont_all {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .cont_all .logo {
  width: 180px;
  height: auto;
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-size: 1.3em;
}
header .cont_all .logo h2 {
  cursor: pointer;
}
header .cont_all nav {
  width: 600px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .cont_all nav .options {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  position: relative;
}
header .cont_all nav .options a {
  text-decoration: none;
}
header .cont_all nav .options li {
  list-style: none;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 1.1em;
  cursor: pointer;
  padding: 0.5em 0.7em;
  border-radius: 0.3em;
}
header .cont_all nav .options .mode_options {
  position: absolute;
  top: 50px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 80px;
}
header .cont_all nav .options .mode_options li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .cont_all .hamburguer_menu {
  display: none;
}

.options_side {
  display: none;
}

/*Aun falta terminar el boton, hacer el responsive y empezar a darle
funcionalidad a todo con JS...
TAMBIEN EL BTN DARK*/
.main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.main .cont_img {
  width: 35%;
  height: 697px;
  background-image: url("./images/bg-main-desktop.png");
  background-position: center;
  background-size: cover;
  background-clip: content-box;
}
.main .white {
  width: 75%;
  height: 697px;
}
.main .cont_all {
  position: absolute;
  width: clamp(310px, 90%, 1130px);
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.main .cont_all .cars_cont {
  width: 500px;
  height: 515px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main .cont_all .cars_cont .front_card_cont {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.main .cont_all .cars_cont .front_card_cont .front_card {
  border-radius: 0.5em;
  width: 420px;
  height: 245px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-image: url("./images/bg-card-front.png");
  background-size: cover;
}
.main .cont_all .cars_cont .front_card_cont .front_card .circles_cont {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.main .cont_all .cars_cont .front_card_cont .front_card .circles_cont .big_circle {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 0.5em;
}
.main .cont_all .cars_cont .front_card_cont .front_card .circles_cont .small_circle {
  width: 25px;
  height: 25px;
  border-radius: 50px;
}
.main .cont_all .cars_cont .front_card_cont .front_card .numbersNname {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .cont_all .cars_cont .front_card_cont .front_card .numbersNname .numbers {
  width: 100%;
}
.main .cont_all .cars_cont .front_card_cont .front_card .numbersNname .numbers h2 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.7em;
  letter-spacing: 0.1em;
  text-align: left;
}
.main .cont_all .cars_cont .front_card_cont .front_card .numbersNname .name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  margin-top: 1em;
}
.main .cont_all .cars_cont .front_card_cont .front_card .numbersNname .name h4 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.main .cont_all .cars_cont .back_card_cont {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.main .cont_all .cars_cont .back_card_cont .back_card {
  border-radius: 0.5em;
  width: 420px;
  height: 245px;
  background-image: url("./images/bg-card-back.png");
  background-size: cover;
  position: relative;
}
.main .cont_all .cars_cont .back_card_cont .back_card .cont_cuv {
  position: absolute;
  width: auto;
  top: 110px;
  right: 25px;
}
.main .cont_all .cars_cont .back_card_cont .back_card .cont_cuv p {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 1.1em;
  letter-spacing: 0.1em;
}
.main .cont_all .inputs_cont {
  width: 50%;
  height: 515px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .cont_all .inputs_cont form {
  width: 420px;
  height: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.main .cont_all .inputs_cont form label {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 0.9em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 0.3em;
}
.main .cont_all .inputs_cont form .cont_input_name,
.main .cont_all .inputs_cont form .cont_input_number {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.main .cont_all .inputs_cont form .cont_input_name input,
.main .cont_all .inputs_cont form .cont_input_number input {
  width: 100%;
  border-radius: 0.5em;
  padding: 0.85em 0.8em;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.main .cont_all .inputs_cont form .cont_input_name .error,
.main .cont_all .inputs_cont form .cont_input_number .error {
  background-color: red;
}
.main .cont_all .inputs_cont form .cont_input_date {
  width: 95%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.main .cont_all .inputs_cont form .cont_input_date .date {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.main .cont_all .inputs_cont form .cont_input_date .date input {
  width: 45%;
  border-radius: 0.5em;
  border: 0.5px solid black;
  padding: 0.85em 0.8em;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: rgb(11, 11, 11);
}
.main .cont_all .inputs_cont form .cont_input_date .date .error {
  background-color: red;
}
.main .cont_all .inputs_cont form .cont_input_date .date input:first-of-type {
  margin-right: 0.6em;
}
.main .cont_all .inputs_cont form .cont_input_date .cvc {
  width: 47%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.main .cont_all .inputs_cont form .cont_input_date .cvc input {
  width: 100%;
  border-radius: 0.5em;
  border: 0.5px solid black;
  padding: 0.85em 0.8em;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: rgb(11, 11, 11);
}
.main .cont_all .inputs_cont form .cont_input_date .cvc .error {
  background-color: red;
}
.main .cont_all .inputs_cont form .send {
  border: none;
  width: 95%;
  border-radius: 0.5em;
  padding: 0.85em 0.8em;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.15em;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: white;
  background-color: hsl(278, 68%, 11%);
  cursor: pointer;
}
.main .cont_all .inputs_cont form .send:hover {
  transition: all 500ms ease-out;
}
.main .cont_all .father_cont_thanks {
  width: 70%;
  height: 515px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .cont_all .father_cont_thanks .cont_thanks {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.main .cont_all .father_cont_thanks .cont_thanks .img {
  width: 75px;
  height: 75px;
  border-radius: 75px;
  background-image: url("./images/icon-complete.svg");
  background-position: center;
  background-size: cover;
}
.main .cont_all .father_cont_thanks .cont_thanks .cont_txt_thanks {
  width: 100%;
  height: auto;
  padding: 0.5em 0;
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
}
.main .cont_all .father_cont_thanks .cont_thanks .cont_txt_thanks h2 {
  font-size: 1.75em;
  letter-spacing: 0.07em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.main .cont_all .father_cont_thanks .cont_thanks .cont_txt_thanks p {
  font-size: 0.95em;
  font-weight: 700;
}
.main .cont_all .father_cont_thanks .cont_thanks button {
  border: none;
  width: 95%;
  border-radius: 0.5em;
  padding: 0.85em 0.8em;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.15em;
  font-weight: 700;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.main .cont_all .father_cont_thanks .cont_thanks button:hover {
  transition: all 500ms ease-out;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .cont_cards_nav {
  width: 90%;
  height: auto;
  padding: 2em 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
footer .cont_cards_nav .contenedor {
  width: 300px;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: "Space Grotesk", sans-serif;
}
footer .cont_cards_nav .contenedor .title {
  width: 100%;
  height: auto;
  padding: 1em 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer .cont_cards_nav .contenedor .title h2 {
  letter-spacing: 0.05em;
  font-size: 1.2em;
}
footer .cont_cards_nav .contenedor .info {
  width: 100%;
  height: auto;
  padding: 1em 0;
}
footer .cont_cards_nav .contenedor .info ul {
  width: 100%;
  height: auto;
}
footer .cont_cards_nav .contenedor .info ul li {
  list-style: none;
  padding: 0.3em 0;
}
footer .cont_cards_nav .contenedor .info ul li:hover {
  cursor: pointer;
  text-decoration: underline;
  transition: all 1s ease-in;
}
footer .cont_redes_legal_terms {
  width: 90%;
  height: auto;
  padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .cont_redes_legal_terms .redesNterms {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1em;
}
footer .cont_redes_legal_terms .redesNterms .legal {
  width: 600px;
  height: auto;
}
footer .cont_redes_legal_terms .redesNterms .legal p {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 0.06em;
  line-height: 1.4;
}
footer .cont_redes_legal_terms .redesNterms .legal p span {
  font-size: 1.6em;
}
footer .cont_redes_legal_terms .redesNterms .redes {
  width: 35%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .cont_redes_legal_terms .redesNterms .redes ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
footer .cont_redes_legal_terms .redesNterms .redes ul a {
  text-transform: none;
}
footer .cont_redes_legal_terms .redesNterms .redes ul li {
  list-style: none;
  font-size: 1.3em;
}
footer .cont_redes_legal_terms .redesNterms .redes ul i:hover {
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
footer .cont_redes_legal_terms .termsNmore {
  width: 100%;
  height: auto;
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}
footer .cont_redes_legal_terms .termsNmore .address {
  width: 620px;
  height: auto;
}
footer .cont_redes_legal_terms .termsNmore .address p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1em;
  letter-spacing: 0.05em;
  line-height: 1.5em;
}
footer .cont_redes_legal_terms .termsNmore .other_things {
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .cont_redes_legal_terms .termsNmore .other_things ul {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .cont_redes_legal_terms .termsNmore .other_things ul li {
  list-style: none;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
}
footer .cont_redes_legal_terms .termsNmore .other_things ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*Aqui tenemos todo el responsive...*/
@media screen and (max-width: 939px) {
  .main {
    flex-direction: column;
  }
  .main .cont_img {
    width: 100%;
    height: 240px;
    background-image: url("./images/bg-main-mobile.png  ");
  }
  .main .white {
    width: 100%;
    height: 897px;
  }
  .main .cont_all {
    height: 960px;
    flex-direction: column;
  }
  .main .cont_all .cars_cont {
    width: 85%;
    height: auto;
  }
  .main .cont_all .cars_cont .front_card_cont .front_card {
    border-radius: 0.5em;
    width: 420px;
    height: 245px;
  }
  .main .cont_all .cars_cont .front_card_cont .front_card .circles_cont .big_circle {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 0.5em;
  }
  .main .cont_all .cars_cont .front_card_cont .front_card .circles_cont .small_circle {
    width: 15px;
    height: 15px;
    border-radius: 10px;
  }
  .main .cont_all .cars_cont .front_card_cont .front_card .numbersNname .numbers h2 {
    font-size: 1.3em;
  }
  .main .cont_all .cars_cont .front_card_cont .front_card .numbersNname .name h4 {
    font-size: 0.8em;
  }
  .main .cont_all .cars_cont .back_card_cont {
    margin-top: 0.5em;
  }
  .main .cont_all .cars_cont .back_card_cont .back_card {
    border-radius: 0.5em;
    width: 420px;
    height: 245px;
  }
  .main .cont_all .cars_cont .back_card_cont .back_card .cont_cuv {
    top: 110px;
    right: 38px;
  }
  .main .cont_all .cars_cont .back_card_cont .back_card .cont_cuv p {
    font-size: 0.95em;
  }
  .main .cont_all .inputs_cont {
    width: 90%;
  }
  .main .cont_all .inputs_cont form {
    width: 420px;
    height: 90%;
  }
  .main .cont_all .inputs_cont form .cont_input_name,
  .main .cont_all .inputs_cont form .cont_input_number {
    width: 100%;
  }
  .main .cont_all .inputs_cont form .cont_input_date {
    width: 100%;
  }
  .main .cont_all .inputs_cont form .send {
    width: 100%;
  }
  footer .cont_redes_legal_terms .redesNterms {
    flex-direction: column;
  }
  footer .cont_redes_legal_terms .redesNterms .legal {
    width: 90%;
  }
  footer .cont_redes_legal_terms .redesNterms .redes {
    margin-top: 1em;
    width: 55%;
  }
  footer .cont_redes_legal_terms .termsNmore {
    flex-direction: column;
  }
  footer .cont_redes_legal_terms .termsNmore .address {
    width: 90%;
  }
  footer .cont_redes_legal_terms .termsNmore .other_things {
    width: 70%;
    margin-top: 1.5em;
  }
}
@media screen and (max-width: 768px) {
  header .cont_all nav {
    display: none;
  }
  header .cont_all .hamburguer_menu {
    width: 100px;
    height: auto;
    display: flex;
    justify-content: center;
  }
  header .cont_all .hamburguer_menu .material-icons {
    color: black;
    font-size: 2em;
    cursor: pointer;
  }
  header .cont_all .hamburguer_menu .material-icons:hover {
    color: rgba(17, 17, 17, 0.734);
    transition: all 500ms ease-in-out;
  }
  .main .cont_all .father_cont_thanks {
    width: 100%;
  }
  .options_side {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 310px;
    height: 100vh;
    z-index: 100;
  }
  .options_side .closeMenu {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 700;
    font-family: "Space Grotesk", sans-serif;
    cursor: pointer;
  }
  .options_side a {
    text-decoration: none;
  }
  .options_side a li {
    list-style: none;
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.6em;
    cursor: pointer;
    padding: 0.5em 0.7em;
    border-radius: 0.3em;
  }
  .options_side li {
    list-style: none;
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.6em;
    cursor: pointer;
    padding: 0.5em 0.7em;
    border-radius: 0.3em;
  }
  .options_side .mode_options {
    position: absolute;
    top: 75vh;
    right: 208px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 120px;
  }
  .options_side .mode_options li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media screen and (max-width: 425px) {
  .main .cont_all .cars_cont {
    width: 100%;
  }
  .main .cont_all .cars_cont .front_card_cont .front_card {
    border-radius: 0.5em;
    width: 310px;
    height: 200px;
  }
  .main .cont_all .cars_cont .back_card_cont .back_card {
    border-radius: 0.5em;
    width: 310px;
    height: 200px;
  }
  .main .cont_all .cars_cont .back_card_cont .back_card .cont_cuv {
    top: 90px;
    right: 38px;
  }
  .main .cont_all .inputs_cont {
    width: 100%;
  }
  .main .cont_all .inputs_cont form {
    width: 100%;
    height: 90%;
  }
  footer .cont_redes_legal_terms .redesNterms {
    flex-direction: column;
  }
  footer .cont_redes_legal_terms .redesNterms .legal {
    width: 95%;
  }
  footer .cont_redes_legal_terms .redesNterms .redes {
    width: 90%;
  }
  footer .cont_redes_legal_terms .termsNmore {
    flex-direction: column;
  }
  footer .cont_redes_legal_terms .termsNmore .address {
    width: 95%;
  }
  footer .cont_redes_legal_terms .termsNmore .other_things {
    margin-top: 2em;
    width: 100%;
  }
}

/*# sourceMappingURL=App.css.map */
